*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



nav{

    position: fixed;
    width:100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:1vw 8vw; 
    box-shadow: 2px 2px 10px rgba(0, 0 ,0, 0.15 );
    z-index: 999;
}

nav img{
width:150px;
cursor: pointer;
}


nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center
}


nav .navigation ul li{
    list-style-type: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color:rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500px;
}


nav .navigation ul li a.active,

nav .navigation ul li a:hover{

    color:#fdc93b;
}



// Home
#about-home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(54,4,46,0.7)),  url("bgpic.jpg");
    width:100%;
    height:100vh;
    background-size: contain;
    background-position: center;
padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-home h2{
    color:#fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}


footer{
    padding:8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  footer .footer-col{
    padding-bottom: 40px;
     
  }

  footer h3{
    color:rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
  }

  footer li{
    list-style-type: none;
    color:#7b838a;
    padding:10px 0;
    font-size: 15px;
    transition: 0.3s ease;
    cursor: pointer;

  }

  footer li:hover{
    color:rgb(241,240,245);
  }

  footer p{
    color:#7b838a;
  }

  
  footer .subscribe{
    margin-top: 20px;
  }


  footer input{
    width:220px;
    padding:15px 12px;
    background-color: #334f6c;
    border:none;
    outline: none;
    color:#fff 
  }

  footer .subscribe a{

    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 35px;
    background-color: white;
    font-weight: 600px;
    
}

  


    
    
  footer .subscribe a.yellow{
            color:#2c2c2c;
            background: #fdc93b;
            transition: 0.3 ease;
            }
            
            footer .subscribe a.yellow:hover{
                color: rgb(21,21,100);
                background:white;
                }
    



.container{max-width:60em;margin:0 auto;}
.style{height:36px;overflow:hidden;}
.style select {
  width:100%;
  color:#fff;
  border:none;
  height:36px;
  font-size:.875em;
  font-weight:bold;
  padding-left:.875em;
  background:transparent;
  -webkit-appearance:none;
} 
.first{background:#1abc9c;}
.second {background:#27ae60}
.third {background:#3498db}
.fourth {background:#9b59b6}
.first-option{display:none;}
option, optgroup {color:#000;background:#eee;}
/*
Media Queries
---------------------------------------------*/
/* 320 */
@media (min-width:0) {
.style{width:100%;display:block;}
}
/* 480 */
@media (min-width:29em) {

}
/* 768 */
@media (min-width:47em) {
.style{width:25%;float:left;}
}
/* 1024 */
@media (min-width:63em) {

}
/* 1280 */
@media (min-width:79em) {

}
/* 1440 */
@media (min-width:89em) {

}





    // hamburger navs
    nav .navigation{
      display: flex;
    }
    
    #menu-btn{
      width:30px;
      height: 30px;
      display: none;
    }
    
    #menu-close{
      display: none;
    }


    


                // MEDIA QUERIES
                @media(max-width:769px){
                  nav {
                  padding: 90px 90px;
                }

                nav img {
                  width: 130px;
                
              }

              #menu-btn{
                
                display: initial;
              }
              
              #menu-close{
                display: initial;
                font-size: 1.6rem;
                color:white;
                padding:30px 0px 20px 20px;
              }
              nav .navigation ul {
                display: -webkit-box;
                display: -ms-flexbox;
                position: absolute;
                top:0;
                right:-220px;
                width:220px;
                background-color: rgba(17,20,104,0.45);
                backdrop-filter: blur(4.5px);
                border:1px solid rgba(255,255,255,0.18);
                height:100vh;
                display: flex;
                flex-direction: column;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-start;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: flex-start;
                transition: 0.3s ease ;
            }
              
            nav .navigation ul.active{
              right:0;
            }
            nav .navigation ul li{
              padding:20px 0 20px 40px;
              margin-left:none;
            }


            nav .navigation ul li a{


              color:white;
            }

            #home {
        
              padding-top: 0px;
              
          }

            
            #home p {
              width: 90%;
              
          }
          #features {
            padding: 8vw 4vw 0 4vw;
          
        }

        #course {
          padding: 8vw 4vw 0 4vw;
          
      }

      #registration {
        padding: 6vw 4vw 6vw 4vw;
      
    }

    #registration .reminder .time {
      
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
  }
  // ABOUT

  #about-container {
      
      padding: 8vw 4vw 2vw 4vw;
  }
        
  #about-container .about-img {
      
      padding-right: 30px;
  }
  #trust .trust-img img {
      width: 50px;
      height: auto;


      
  }

  // COURSES

  #blog-container {
      
      padding: 8vw 4vw;
  }
    }


    @media (max-width:475px){
      #registration {
      text-align: center;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #registration .reminder .time {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  // ABOUT 
  #about-container {
     flex-direction: column-reverse;
  }
  #about-container .about-img {
      width:100%;
      padding-right:0px;
  }
  
  #about-container .about-text {
      width: 100%;
      padding-bottom: 20px;
  }
  #trust .trust-img {
      margin-top: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      flex-wrap: wrap;
  }
  #trust .trust-img img {
      width: 60px;
      margin:10px 15px;
      height: auto;
  }

  // content
  #blog-container {
     flex-direction: column;
  }
  #blog-container .blogs {
      width: 100%;
  }

  #blog-container .cate {
      width: 100%;
  }
    }